@font-face {
    font-family: PixelFont;
    src: url('fonts/Beefd.ttf'); 	
	
}
@font-face {
    font-family: RegularText;
    src: url('fonts/ArchivoNarrow-Regular.ttf'); 
}
html {
	height: 100%;
}
.body {
	font-family:'RegularText';	

	height: 100%;
	
	background-color:#fff;
	margin:0;
	padding:0;
}

.headerlogo {	
	width:150px;
	height:auto;
	padding-left: 20px;
	padding-top: 20px;
	
}

.header{  	
  	
   
	background-color:rgb(87,88,91);
		
	
	height: 100px;	
	
	overflow:hidden;
	
	
}

.container {
	
	
	display: flex;
	width: 100%;
	height: -o-calc(100% - 155px); /* opera */
	height: -webkit-calc(100% - 155px); /* google, safari */
	height: -moz-calc(100% - 155px); /* firefox */
	
}
.container:after {
	background-image: url('images/circuit-board.svg');
	background-size: 300px;
	content: ""; 
	opacity: 0.1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}
.content_buttons {
	width: 100px;
	top: 50px;
	height: 100%;
	position:relative;
	background-color: rgb(255,255,255); 
	
}

.footer {
	background-color:rgba(0, 0, 0, 0.6);
	color: #315a5a;
	width: 800px;
	height: 20px;
	
	box-shadow: 15px 2px 15px -2px #000;
	position:relative;

	text-align: left;
}

.sidebar {
	float: left;
	height: 100%;
	
	width: 100px;
	
	cursor:default;
	color:#000;
	
}
.sidebar:after {
	background-image: url('images/circuit-board_white.png');
	background-size: 300px;
	background-color:rgb(200,200,200); 
	width: 100px;
	content: ""; 
	opacity: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}


.content_image {
	width: 350px;
}
.content_iframe {
	font-family:'RegularText';	
	color:rgb(95, 94, 93);
	background-color:rgba(255, 255, 255, 0.6);
	color:#000;	
	width:100%;	
	height:100%;
	
	border: none;
}
.content_text {
	
	font-family:'RegularText';	
	color:rgb(95, 94, 93);
	width:100%;	
	height:100%;
	padding-left: 4px;
	border: none;
	overflow: scroll;
	overflow-x: hidden;
}
.content {
	position:relative;
	top:50px;
	background-color:rgb(255, 255, 255);
	font-family: 'RegularText';
	float: left;
	color:rgb(95, 94, 93);
	width:800px;	
	height:100%;
	padding-left: 50px;	
	border: none;
	height:100%;
}

.gray_back {
	background-color: rgb(200, 200, 200);

}
h1 {
	text-shadow: 4px 4px 4px #ccddcc;
	font-size: 20px;
	font-family: 'PixelFont';	
	padding-left:4px;
	color: rgb(87,88,91);
}
h2 {
	text-shadow: 4px 4px 4px #ccddcc;
	font-size: 18px;
	font-family: 'PixelFont';	
	padding-left:4px;
	color: rgb(87,88,91);
	text-align: center;
}
h3 {
	text-shadow: 4px 4px 4px #ccddcc;
	font-size: 16px;
	font-family: 'PixelFont';	
	padding-left:4px;
	color: rgb(87,88,91);
}


a {
	text-decoration:none;
	color:rgb(235, 26, 35);
	
}
a:visited {
	color:#669b9b;
}
a:hover {
	color:#fff;
}

.menu input {
	display: none;
}
.menu input:checked + label {

  filter: invert(100%);
}
.main_button {
	width: 60px;
	height: auto;
}
.content_button {
	width: 50px;
	height: auto;
}
.menu label {
  display: inline-block;  
  color: rgba(0, 0, 0, 0.6);  
  margin-top: 5px;
  margin-left: 18px; 
  transition:         all 0.2s ease-in-out;

  }
.menu label:hover {	 
	 filter: invert(100%);	 
	 cursor: pointer;
}
.profile {
	width: 150px;
	height: 150px;
}



