@font-face {
    font-family: PixelFont;
    src: url('fonts/Beefd.ttf'); 	
	
}
@font-face {
    font-family: RegularText;
    src: url('fonts/ArchivoNarrow-Regular.ttf'); 
}
html {
	height: 100%;
}
.body {
	font-family:'RegularText';	

	height: 100%;
	
	background-color:#fff;
	margin:0;
	padding:0;
}

.headerlogo {	
	position:relative;
	width:auto;
	height:90%;
	padding-left: 10px;
	padding-top: 5px;
	
}
.gamelogo {
	position:relative;
	width:auto;
	height:40px;
	padding-bottom: 40px;
	padding-left:20px;
}
.gamelogo.active {
	position:relative;
	-webkit-filter: saturate(50) hue-rotate(140deg); filter: saturate(50) hue-rotate(140deg);
	width:auto;
	height:40px;
	padding-bottom: 30px;
	padding-left:20px;
}
.gamelogo:hover {
	-webkit-filter: saturate(50) hue-rotate(140deg); filter: saturate(50) hue-rotate(140deg);
	 height: 50px;
	 cursor: pointer;
	 -webkit-animation: logos 0.5s;
	-moz-animation: logos 0.5s;
	-o-animation: logos 0.5s;
}
	@keyframes logos { from {height:40px;} to {height: 50px;}  }
	@-o-keyframes logos { from {height:40px;} to {height: 50px;}  }
	@-moz-keyframes logos { from {height:40px;} to {height: 50px;}  }
#header{   	
   
	
	background-color:rgb(255,255,255);
	height: 100px;		
	overflow:hidden;
	
}
#header.scrolling {
	height: 50px;
}
	
.headerlogo:hover{
		
	-webkit-animation: header 0.5s;
	-moz-animation: header 0.5s;
	-o-animation: header 0.5s;
}
	@keyframes header { 0% {height:90%;} 50% {height: 95%;} 100% {height: 90%;} }
	@-o-keyframes header { 0% {height:90%;} 50% {height: 95%;} 100% {height: 90%;} }
	@-moz-keyframes header { 0% {height:90%;} 50% {height: 95%;} 100% {height: 90%;} }
#header:after{  
	
	opacity:0.7;
	
}
.container {
	
	
	display: flex;
	width: 100%;
	height: -o-calc(100% - 105px); /* opera */
	height: -webkit-calc(100% - 105px); /* google, safari */
	height: -moz-calc(100% - 105px); /* firefox */
	
}

.container:after {
	background-image: url('images/background.png');
	background-repeat: no-repeat;
	background-size: 100%;
	
	content: ""; 
	opacity: 0.5;
	top: 100px;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}
.content_buttons {
	width: 50px;
	top: 0px;
	height: 100%;
	position:relative;
	background-color: rgb(235,235,235); 
	opacity: 1;
}



.sidebar {
	float: left;
	height: 100%;
	
	width: 100px;
	
	cursor:default;
	color:#000;
	
}

.sidebar:after {
	background-image: url('images/circuit-board_white.png');
	background-size: 300px;

	content: ""; 
	opacity: 0.4;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}


.content_image {
	width: 350px;
}

.content_text {
	
	
	width:100%;	
	height:100%;
	margin-left: 0px;
	
	border: none;
	overflow: scroll;
	overflow-x: hidden;
}
.content img {
	
	max-width: -o-calc(100%); /* opera */
	max-width: -webkit-calc(100%); /* google, safari */
	max-width: -moz-calc(100%); /* firefox */
}
.content {
	position:relative;
	top:0px;
	background-color: rgba(255, 255, 255,0.7);
	font-family: 'RegularText';
	float: left;
	color:rgb(95, 94, 93);
	max-width:800px;	
	width: -o-calc(100% - 300px); /* opera */
	width: -webkit-calc(100% - 300px); /* google, safari */
	width: -moz-calc(100% - 300px); /* firefox */
	
	height:100%;
	padding-left: 0px;	
	border: none;
	height:100%;
}

.gray_back {
	background-color: rgba(200, 200, 200,0.7);

}
.white_back {
	background-color: rgba(255, 255, 255,0.7);

}
h1 {
	text-shadow: 4px 4px 4px #ddbbbb;
	font-size: 20px;
	font-family: 'PixelFont';	
	padding-left:4px;
	color: rgb(87,88,91);
}
h2 {
	text-shadow: 4px 4px 4px #ddbbbb;
	font-size: 18px;
	font-family: 'PixelFont';	
	padding-left:4px;
	color: rgb(87,88,91);
	text-align: center;
}
h3 {
	text-shadow: 4px 4px 4px #ddbbbb;
	font-size: 16px;
	font-family: 'PixelFont';	
	padding-left:4px;
	color: rgb(87,88,91);
}

img {
	-ms-interpolation-mode: bicubic;
}
a {
	text-decoration:none;
	color:rgb(235, 26, 35);
	
}
a:visited {
	color:rgb(235, 26, 35);
}
a:hover {
	color:rgb(150, 26, 35);
}
.mainmenu div {
	font-size: 14px;
	
}

.masterbar {
	width: 100px;
	
}
/*
.main_button_left {
	width: 50px;
	height: auto;
	
	-webkit-animation: mainbuttons 2s;
	-moz-animation: mainbuttons 2s;
	-o-animation: mainbuttons 2s;
}
.main_button_right {
	
	width: 50px;
	height: auto;
	
	
	-webkit-animation: mainbuttons 2s;
	-moz-animation: mainbuttons 2s;
	-o-animation: mainbuttons 2s;
}
*/
.main_button {
	width: 50px;
	height: auto;
}
.content_button {
	
	width: 30px;
	height: auto;
	opacity: 1;
	-webkit-animation: contentbuttons 2s;
	-moz-animation: contentbuttons 2s;
	-o-animation: contentbuttons 2s;
    
}


img.icon {
	position: relative;
	left: 14px;
	top: 14px;
	width: 25px;
	-webkit-animation: mainlogos 2s;
	-moz-animation: mainlogos 2s;
	-o-animation: mainlogos 2s;
}
.mainmenu label {
  position: fixed;
  display: inline-block;  
 
  margin-left: 20px; 
  
  transition: all 0.1s ease-in-out;

  }
.contentmenu label {
  position: fixed;
  display: inline-block;  
 
  margin-top: 20px;
  margin-left: 2px; 
  
  transition: all 0.1s ease-in-out;

  }
   
	@keyframes describes { from {font-size:0px;} to {font-size: 14px;} }
	@-o-keyframes describes { from {font-size:0px;} to {font-size: 14px;}}
	@-moz-keyframes describes { from {font-size:0px;} to {font-size: 14px;}}	
	@keyframes contentbuttons { from {width:0px;} to {width: 30px;} }
	@-o-keyframes contentbuttons { from {width:0px;} to {width: 30px;}}
	@-moz-keyframes contentbuttons { from {width:0px;} to {width: 30px;}}
	@keyframes mainbuttons { from {width:0px;} to {width: 50px;} }
	@-o-keyframes mainbuttons { from {width:0px;} to {width: 50px;}}
	@-moz-keyframes mainbuttons { from {width:0px;} to {width: 50px;}}
	@keyframes mainlogos { from {width:0px;} to {width: 25px;} }
	@-o-keyframes mainlogos { from {width:0px;} to {width: 25px;}}
	@-moz-keyframes mainlogos { from {width:0px;} to {width: 25px;}}
	
	
	@-o-keyframes activebutton { from {left:0px;} to {left: 50px;} } 
	@-moz-keyframes activebutton { from {left:0px;} to {left: 50px;} } 
	@keyframes activebutton { from {left:0px;} to {left: 50px;} } 
	
	
#mainmenu img {
	position: absolute;
	
}	
	
#mainmenu img:hover {	 
	-webkit-filter: saturate(50) hue-rotate(140deg); filter: saturate(50) hue-rotate(140deg);
	
	 cursor: pointer;
}
#mainmenu img.active {	 
	-webkit-filter: saturate(50) hue-rotate(140deg); filter: saturate(50) hue-rotate(140deg);
	left:40px;
	cursor: pointer;
	-moz-animation: activebutton 1s;  
	-webkit-animation: activebutton 1s;	
	-o-animation: activebutton 1s;
}

#content_buttons img {
	position: absolute;
	
}	
	
#content_buttons img:hover {	 
	-webkit-filter: saturate(50) hue-rotate(140deg); filter: saturate(50) hue-rotate(140deg);
	
	 cursor: pointer;
}
#content_buttons img.active {	 
	-webkit-filter: saturate(50) hue-rotate(140deg); filter: saturate(50) hue-rotate(140deg);
	 
	 cursor: pointer;
}



